body {
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    background-color: rgb(197,204,211);
    font-family: Helvetica;
    font-size: 17px;
    min-height: 416px;
}

body,ul,li {
    padding:0;
    margin:0;
}

ul {
    list-style: none;
}

.template {
    display: none;
}

#header {
    position: relative;
    height: 42px;
    margin: 0px;
    padding: 0px;
    background-color: #889BB3;
    background: -webkit-gradient(linear, left top, left bottom, from(#B0BCCD), to(#6D84A2), color-stop(0.5, #889BB3), color-stop(0.5, #8195AF));
    border-top: 1px solid #CDD5DF;
    border-bottom: 1px solid #2D3642;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 44px;
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


#back {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Heading Arrow Button */
.mblArrowButtonHead {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 19px;
    height: 19px;
    border-width: 1px;
    border-style: solid;
    border-color: #3A4655;
    -webkit-transform: scale(.8,1) rotate(45deg);
    background: -webkit-gradient(linear, left top, right bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
}
.mblArrowButtonBody {
    position: absolute;
    top: 5px;
    left: 19px;
    padding: 0px 10px 0px 3px;
    height: 29px;
    border-width: 1px 1px 1px 0px;
    border-style: inset;
    border-color: #9CACC0;
    font-family: Helvetica;
    font-size: 13px;
    color: white;
    line-height: 29px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #5877A2;
    background: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
    -webkit-tap-highlight-color: transparent;
}
.dj_ie .mblArrowButtonBody, .dj_ff3 .mblArrowButtonBody {
    padding: 0px 10px 0px 10px;
}
.mblArrowButtonNeck {
    position: absolute;
    top: 5px;
    left: 19px;
    width: 4px;
    height: 29px;
    border-width: 1px 0px 1px 0px;
    border-style: inset;
    border-color: #9CACC0;
    background: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
}
.mblArrowButtonSelected .mblArrowButtonHead {
    background: -webkit-gradient(linear, left top, right bottom, from(#7C87A4), to(#263E6C), color-stop(0.5, #394D77), color-stop(0.5, #243B69));
}
.mblArrowButtonSelected .mblArrowButtonBody, .mblArrowButtonSelected .mblArrowButtonNeck {
    background: -webkit-gradient(linear, left top, left bottom, from(#7C87A4), to(#263E6C), color-stop(0.5, #394D77), color-stop(0.5, #243B69));
}


#display {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#cards {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: left 0.3s ease-out;
}

.card {
    float: left;
    width: 100%;
    height: 310px;
}

.card.card2 {
    z-index: 1;
}

#contactsCard {
    position: relative;
    z-index: 1;
    overflow: scroll;
}

.maxWidthList {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
}

.maxWidthList li {
    position: relative;
    width: 100%;
    height: 43px;
    padding-left: 8px;
    list-style-type: none;
    border-bottom: 1px solid #ADAAAD;
    line-height: 43px;
    font-weight: bold;
    color: black;
}

.maxWidthList li.message {
    height: auto;
    font-weight: normal;
    line-height: normal;
    padding: 8px;
}

.maxWidthList li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

#identityCard ul {
    list-style: none;
}

.contactDetail {
    padding: 10px;
}

.contactPhoto {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin-right: 10px;
    border: 1px solid #ADAAAD;
}

#header .contactPhoto {
    width: 30px;
    height: 30px;
}

.contactDisplayName {
    font-weight: bold;
}

.contactDetail .mblListItem {
    width: 100%;
}

.contactDetail .idType {
    text-align: right;
    padding: 0 5px;
    color: #0B5199;
    font-size: smaller;
}

.contactDetail .idValue {
    padding: 0 5px;
}

.scrollbar {
    position: absolute;
    z-index: 10;
    width: 1px;
    height: 1px;
    border-width: 3px;
    -webkit-border-image: url(i/scrollbar.png) 3;
}

.scrollbar.horizontal {
    bottom: 1px;
    left: 1px;
}

.scrollbar.vertical {
    top: 1px;
    right: 1px;
}


.mblRoundRectList {
    margin: 7px 0 16px;
    padding: 0px;
    border: 1px solid #ADAAAD;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: white;
}

.mblListItem {
    list-style-type: none;
    height: 43px;
    padding: 0 10px;
    border-bottom: 1px solid #ADAAAD;
    line-height: 43px;
    font-weight: bold;
    position: relative;
    color: black;
}

.mblListItem.mblVariableHeight {
    line-height: normal;
    height: auto;
    padding: 11px 6px 10px 6px;
}

.mblItemSelected {
    background-color: #048BF4;
    background: -webkit-gradient(linear, left top, left bottom, from(#048BF4), to(#005CE5));
}

.mblRoundRectList .mblListItem:first-child {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
}

.mblRoundRectList .mblListItem:last-child {
    border-bottom-width: 0px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
}

.maxWidthList li.conv {
    line-height: normal;
    padding: 8px 0 0 20px;
    background: transparent url(i/mailIcon.png) center left no-repeat;
}

.maxWidthList li.twitter {
    background: transparent url(i/twitterIcon.png) center left no-repeat;
    padding-left: 20px;
}

.maxWidthList li.conv .summary {
    height: auto;
}

.maxWidthList li .subject {
    display: block;
    margin-right: 45px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.maxWidthList li .bodyPreview {
    display: block;
    margin-right: 45px;
    font-weight: normal;
    font-size: smaller;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li .mblArrow {
    position: absolute;
    top: 16px;
    right: 30px;
    width: 9px;
    height: 13px;
    font-size: 1px;
    border-width: 3px 3px 0px 0px;
    border-color: #808080;
    border-style: none;
    background-image: url(i/gray-arrow.png);
}


.message .subject {
    padding: 8px;
    font-weight: bold;
    font-size: larger;
}

.message .from {
    font-weight: bold;
}

.message .from .date {
    font-weight: normal;
    color: gray;
}

.messageBody a.quoteToggle {
  text-decoration: none;
  color: #888;
}

.messageBody .quoteContent.quote {
    display: none;
    color: #666;
    background-color: #f2f2f2;
    padding: 5px;
}

.messageBody .quoteContent.quote.expanded {
    display: block;
}

/* START hbox/vbox normalization from http://alex.dojotoolkit.org/2009/08/css-3-progress/ */
/* hbox and vbox classes */
 
.hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
 
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;
 
	display: box;
	box-orient: horizontal;
	box-align: stretch;
}
 
.hbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}
 
.vbox {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
 
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
 
	display: box;
	box-orient: vertical;
	box-align: stretch;
}
 
.vbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}
 
.spacer {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
 
.reverse {
	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
	box-direction: reverse;
}
 
.boxFlex0 {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}
 
.boxFlex1, .boxFlex {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
 
.boxFlex2 {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}
 
.boxGroup1 {
	-webkit-box-flex-group: 1;
	-moz-box-flex-group: 1;
	box-flex-group: 1;
}
 
.boxGroup2 {
	-webkit-box-flex-group: 2;
	-moz-box-flex-group: 2;
	box-flex-group: 2;
}
 
.start {
	-webkit-box-pack: start;
	-moz-box-pack: start;
	box-pack: start;
}
 
.end {
	-webkit-box-pack: end;
	-moz-box-pack: end;
	box-pack: end;
}
 
.center {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}
/* END hbox/vbox normalization from http://alex.dojotoolkit.org/2009/08/css-3-progress/ */
