/* reset */
* {
  border: 0 none;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 5px;
}

.header {
  width: 100%;
  top: 0;
  background-color: #fff;
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  z-index: 1;
}

.header li {
  display: inline;
  margin-right: 10px;
  color: #888;
}

/*<![CDATA[*/
#grid-content {
  overflow: hidden;
  height: auto;
  width: auto;
  background-color: transparent;
  color: transparent;
  margin: 50px auto;
}

#grid-content div.row {
  width: 300px;
  background-color: transparent;
  color: #666;
  margin: 24px;
  padding: 5px 5px 10px 5px;
  -moz-border-radius: 5px;
  float: left;
  overflow: hidden;
}
/*]]>*/

.subject {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

a.subject {
  text-decoration: none;
  color: #000;
}

row.subject {
  display: block;
  text-decoration: none;
}

.subject:empty:after {
  content: 'tweet...';
}

.viewAll {
  color: #000;
}

#zoom_table {
  background-color: #fafafa;
  border: 1px solid #ddd;
}

.mm {
  background-color: #fafafa !important;
}

#zoom_close {
  right: 7px;
  top: 7px;
  color: #ccc;
  text-decoration: none;
}

#zoom_content {
  color: #ccc;
}

.conversation {
  max-width: 800px;
  max-height: 400px;
  overflow-y: scroll;
}

.conversation > .subject:empty:after {
  content: 'not loaded';
}

.conversation .subject {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dotted #aaa;
}

.conversation .message {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #666;
  color: #000;
}

.conversation .message:last-child {
  border-bottom: none;
}

.conversation .message .from {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.conversation .message .from .date {
  font-weight: normal;
  font-style: italic;
}

.conversation .message .body {
  white-space: pre-wrap;
}

.name {
  color: #666;
  font-weight: bold;
}

.name:empty:after {
  content: 'unknown sender';
}

