
.rdwWidgets.bulkEdit {

}

.rdwWidgets .bulkEditExpanded .WidgetBox {
    margin-top: 20px;
}

.rdwWidgets .bulkEditExpanded .rdwSummaryGroup.WidgetBox {
    margin-top: 0;
}

/* Style folders here */
.rdwGenericGroup.rdwFolder {
    
}


.bulkEditTooltip {
    display: block;
    position: absolute;
    background-color: black;
    color: white;
    z-index: 1000;
}

.bulkEditConvDrag {
    background-color: gray;
    color: red;
    font-weight: bold;
    border: 1px dotted black;
    width: 400px;
}

/* Hide the header for the drag avatar */
body .dojoDndAvatarHeader {
    display: none;
}

/* Change cursor when in drag mode */

.dragCursor {
    cursor: move;
}